.logement__tag {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
  }
  
.tag {
    display: flex;
    background-color: #ff6060;
    color: white;
    width: 115px;
    height: 25px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
}

.tag__text {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .tag {
        width: 90px;
        height: 20px;
        font-size: 12px;
    }

    .logement__tag {
        gap: 5px;
    }

    .tag__text {
        width: 100%;
        text-align: center;
    }

}
    
