.logement__tag {
    display: flex;
    margin-top: 5px;
    gap: 5px;

    @media screen and (min-width: 1024px) {
        gap: 15px;
        width: auto;
    }
}
.tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6060;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    line-height: 14.26px;
    width: 84px;
    height: 18px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        width: 115px;
        height: 25px;
        font-size: 14px;
        line-height: 19.96px;
        padding: 5px;
    }
}


    
