.logement__tag {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 

    @media screen and (min-width: 1024px) {
        width: auto;
        height: 25px;
    }
}
  
.tag {
    display: flex;
    background-color: #ff6060;
    color: white;
    width: 84px;
    height: 18px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;

    @media screen and (min-width: 1024px) {
        width: 115px;
    }
}

.tag__text {
    width: 100%;
    text-align: center;
}


.logement__tag {
    gap: 5px;
}

.tag__text {
    width: 100%;
    text-align: center;
}


    
