.logement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 100px;
    height: 100%;
    gap: 30px;
    // background-color: blanchedalmond;

    @media screen and (max-width: 768px) {
        padding: 30px 20px;
    }
}

.logement__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logement__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    color: #ff6060;

    @media screen and (min-width: 1024px) {
        font-size: 36px;
    }
}

.logement__location {
    font-size: 14px;
    font-weight: 500;
    line-height: 25.67px;

    @media screen and (min-width: 1024px) {
        font-size: 18px;
    }
}

.logement__host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: burlywood;
}

.logement__host__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: coral;
}
.logement__collapses__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    // background-color: burlywood;
    @media screen and (max-width: 768px) {
         grid-template-columns: repeat(1, 1fr);
         row-gap: 30px;
    }
}

.logement__equipments_ul {
    list-style: none;
}






