.cards {
    display: grid;
    // /* Création d'une grille avec des colonnes flexibles */
    // grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    // padding: 50px;
    margin-top: 43px;
    // background-color: #f6f6f6;
    border-radius: 25px;
    /* Espacement entre chaque ligne et colonne */
    // gap: 50px;
    column-gap: 50px;
    row-gap: 50px;

    @media screen and (min-width: 1024px) {
        /* Création d'une grille avec des colonnes flexibles */
        grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
        /* Espacement entre chaque ligne et colonne */
        gap: 50px; 
        background-color: #f6f6f6;
        padding: 50px;   
    }
}

.cards__article {
    /* Position relative pour le conteneur de l'article */
    position: relative;
    /* L'image reste à l'intérieur du conteneur */
    overflow: hidden;
    border-radius: 10px;
    /* Hauteur fixe pour les cards */
    height: 340px;
    transition: transform 0.3s ease-in-out;
}

.cards__article:hover {
    box-shadow: 0px 0px 10px 1px #ff6060;
    transform: scale(1.02);
}

.cards__image-container {
    position: relative;
    height: 100%;
}

.cards__image {
    width: 100%;
    height: 100%;
    /* L'image couvrira toute la cards sans déformer */
    object-fit: cover; 
    border-radius: 10px;
    display: block;
}

.cards__title {
    /* Placer le titre au-dessus de l'image */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    box-sizing: border-box;
}

.cards__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Dégradé du transparent au noir transparent avec quatre paliers */
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0) 0%,  /* Transparent au sommet */
        rgba(0, 0, 0, 0.1) 50%, /* Légèrement noir transparent */
        rgba(0, 0, 0, 0.3) 80%, /* Plus noir transparent */
        rgba(0, 0, 0, 0.6) 100% /* Noir transparent à la base */
    )
}
